$white: #FFFFFF;
$red: #C80000;
$bg-dark: #272727;
$red-soft: #FF3232;
$grey-soft: #ADACAC;
$grey-text: #4F4F4F;
$grey-border: #535353;
$bg-white: #F7F7F7;
$grey-regular: #444444;
$grey-basement: #373737;
$bg-map: #333333;
$red-active: #FF0000;
$scroll: #828282;