$fontJuraRegular: 'Jura Regular',sans-serif;
$fontJuraMedium:'Jura Medium',sans-serif;
$fontJuraSemiBold:'Jura SemiBold',sans-serif;


$fontMontserratRegular:'Montserrat Regular',sans-serif;
$fontMontserratMedium:'Montserrat Medium',sans-serif;
$fontMontserratSemiBold:'Montserrat SemiBold',sans-serif;
$fontAtomicAliceRegular:'Atomic Alice Regular',sans-serif;